<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AdmToFebos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AdmToFebos.Properties.Settings.ConnectionAdm" connectionString="Dsn=serveradm"
      providerName="System.Data.Odbc" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="2.2.28.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><applicationSettings>
    <AdmToFebos.Properties.Settings>
      <setting name="AdmToFebos_cl_febos_cert_IntegracionService" serializeAs="String">
        <value>http://cert.febos.cl:80/FebosAPI/Integracion</value>
      </setting>
      <setting name="AdmToFebos_cl_febos_cert1_UsersService" serializeAs="String">
        <value>http://cert.febos.cl:80/FebosAPI/Users</value>
      </setting>
    </AdmToFebos.Properties.Settings>
  </applicationSettings>
</configuration>
